p{color: rgb(237, 234, 234);
background-color:black;
font-size: 2rem;
font-family: "Brush Script MT", cursive;
font-weight: 500;
text-align: center;
}
.inf{color: rgb(9, 18, 12);
background-color: rgb(0, 179, 255);
font-size: 2rem;
font-weight: 500;
font-family: "Brush Script MT", cursive;
text-align: center;
padding: 20px;
border: 10px, rgb(0, 208, 255), dashed;
margin: 100px;
}
#box{color: rgb(0, 5, 6);
background-color: rgb(0, 179, 255);
font-size: 2rem;
font-family: "Brush Script MT", cursive;
font-weight: 500;
text-align: center;
padding: 20px;
border: 10px, rgb(0, 208, 255), dashed;
margin: 100px;}